
h1 {font-size: 2.5em;
    color: darkblue;
    text-align: center;
    font-family: 'helvetica', sans-serif;}
ul li {font-size: 1.3em;
    color: darkgreen;
    margin-bottom: 0.5em;
    font-family: 'helvetica', sans-serif;}
main p {font-size: 1.2em;
    line-height: 1.6em;
    color: black;
    font-family: 'helvetica', sans-serif;}
#footer-text {color: gray;
    text-align: center;
    font-size: 1em;
    font-family: 'helvetica', sans-serif;}
